.btn{outline: none !important;}

.clear{clear: both;}
.overflowHidden{overflow: hidden;}

.floatLeft{float: left;}
.floatRight{float: right;}

.margin-tb-10{margin-top: 10px;margin-bottom: 10px;}
.margin-top-7{margin-top: 7px;}
.margin-top-10{margin-top: 10px;}

.margin-20{margin: 20px;}

.align-center{text-align: center;}

.border-top-left-radius-10{border-top-left-radius: 10px;}
.border-top-right-radius-10{border-top-right-radius: 10px;}

.border-azure{border: 1px solid rgb(161, 186, 252);}

.color-white{color: white;}
.color-gray{color: #ccc;}

.font-size-21{font-size: 21px;}
