<h2 class="align-center">Calendar View</h2>
<div class="col-md-12">
    <div class="col-md-12 background-azure border-top-left-radius-10 border-top-right-radius-10">
        <h2 class="align-center margin-tb-10">{{ currentMonth }}, {{ currentYear }}</h2>
    </div>
    <div class="border-azure clear overflowHidden">
        <div class="row">
            <div class="DoW align-center" ng-repeat="(key, value) in daysOfWeek">{{value}}</div>
        </div>
        <div class="row">
            <div class="dateBlock align-center" ng-repeat="i in getNumber(number) track by $index">
                {{$index}}
            </div>
        </div>
    </div>
</div>